<section>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button
          class="{{ buttonState ? 'deleted' : 'checked' }}"
          mat-fab
          color="primary"
          (click)="toggleState()"
          aria-label="Example icon button with a delete icon"
        >
          <mat-icon>{{
            buttonState ? 'power_settings_new' : 'power'
          }}</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <mat-card class="marginTop">
    <mat-card-content
      class="{{ buttonState ? 'desativado' : 'ativado' }}"
      >{{
        buttonState ? 'Power Off' : 'Connected'
      }}</mat-card-content
    >
  </mat-card>
</section>
